html {
    padding:0px;
    margin: 0px;
    /* cursor: crosshair; */
    caret-color: black;
    scroll-behavior: smooth;
}
body {
    display: block;
}

header {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #F0F2A6, #1A1B25);
}

img {
    width: 25vw;
    height: 25vw;
}

.image_stock {
    padding: 2%;
    float: right;
    position: sticky;
    /* top: 10vw;
    right: 10vw; */
    transform: translate(0%, -38%);
}

.intro {
    position: relative;
    top: 20vw;
}

/* New section - Try for Free */
.try-for-free {
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(to top right, #F0F2A6, #1A1B25);
}
.try-free-form {
    padding: 10% auto;
    position:relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* margin: auto; */
    /* position: static;
    top: 40vh;
    left: 40vw; */
    /* box-shadow: 10px 10px 10px #1A1B25; */
}
.submit-button {
    margin:0;
    margin-left:40%;
    margin-top: 4vh;
    background-color: transparent;
    border-width: 5px;

}
.submit-button:focus {
    outline: none;
}
/* New section - Footer */
footer {
    height: 5vh;
    background-color: #1A1B25;
    text-align: center;

}
.footer-text {
    color: #F0F2A6;
    margin: auto;
    padding-top: 5px;
}

/* .submit-button {
    position: static;
    margin: 10px;
    right: 35vw;
    bottom: 45vh;
} */