<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>--USERNAME--</title>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon1.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrapstyle.css">
    <link rel="stylesheet" href="css/userlogin.css">
</head>
<body>
    <div class="container-fluid nav-ray">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #1A1B25;">
            <div class="logo-nav"><img src="images/favicon1.png" alt="Stockify-Logo" style="height: 7vh;width: 7vh;"></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
              <span class="navbar-toggler-icon" style="size: 20px;"></span>
            </button>
            
            <div class="collapse navbar-collapse menus" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#" style="color: yellow; text-shadow: 2px -2px 2px grey;">Predict<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a type="submit" class="nav-link" href="invest" style="color: yellow; text-shadow: 2px -2px 2px grey;">Invest<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: yellow; text-shadow: 2px -2px 2px grey;">
                      <%= empty %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">My Profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="index">Sign-Out</a>
                    </div>
                  </li>
              </ul>
            </div>
        </nav>
    </div>
    <section style="background-color: none;">
      <h3>SAMPLE TABLES</h3>
        <div class="table-view container">
            <div class="row">
                <div class="col-sm"><table class="table table-hover table-bordered table1" style="background-color: oldlace; border: 2px solid black;">
                    <thead>
                      <tr style="border-bottom: 2px solid black;">
                        <th scope="col">Country Name</th>
                        <th scope="col">GDP</th>
                        <th scope="col">Inflation Rate</th>
                        <th scope="col">Per Capita</th>
                        <th scope="col">GDP Growth Rate</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">USA</th>
                        <td>19.6T</td>
                        <td>0.6</td>
                        <td>34862</td>
                        <td>2.27</td>
                      </tr>
                      <tr>
                        <th scope="row">CHINA</th>
                        <td>13T</td>
                        <td>2.5</td>
                        <td>9856</td>
                        <td>2.27</td>
                      </tr>
                      <tr>
                        <th scope="row">JAPAN</th>
                        <td>4.8T</td>
                        <td>0.1</td>
                        <td>44582</td>
                        <td>1.71</td>
                      </tr>
                      <tr>
                        <th scope="row">GERMANY</th>
                        <td>3.6T</td>
                        <td>-0.1</td>
                        <td>38952</td>
                        <td>2.22</td>
                      </tr>
                      <tr>
                        <th scope="row">INDIA</th>
                        <td>2.7T</td>
                        <td>6.09</td>
                        <td>1980</td>
                        <td>6.68</td>
                      </tr>
                      <tr>
                        <th scope="row">UK</th>
                        <td>2.6T</td>
                        <td>0.6</td>
                        <td>35623</td>
                        <td>1.79</td>
                      </tr>
                      <tr>
                        <th scope="row">FRANCE</th>
                        <td>2.5T</td>
                        <td>0.8</td>
                        <td>37985</td>
                        <td>1.82</td>
                      </tr>
                      <tr>
                        <th scope="row">ITALY</th>
                        <td>1.9T</td>
                        <td>-.0.3</td>
                        <td>38966</td>
                        <td>1.5</td>
                      </tr>
                      <tr>
                        <th scope="row">BRAZIL</th>
                        <td>2.05T</td>
                        <td>2.13</td>
                        <td>10731</td>
                        <td>0.98</td>
                      </tr>
                      <tr>
                        <th scope="row">RUSSIA</th>
                        <td>1.6T</td>
                        <td>3.2</td>
                        <td>24565</td>
                        <td>1.55</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm"><table class="table table-hover table-bordered table2" style="background-color: oldlace; border: 2px solid black; padding-bottom: 20px;">
                  <thead>
                    <tr style="border-bottom: 2px solid black;">
                      <th scope="col">Country Name</th>
                      <th scope="col">Market Value</th>
                      <th scope="col">% Globalization</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">USA</th>
                      <td>2010B</td>
                      <td>28.4</td>
                    </tr>
                    <tr>
                      <th scope="row">CHINA</th>
                      <td>1867B</td>
                      <td>16.6</td>
                    </tr>
                    <tr>
                      <th scope="row">JAPAN</th>
                      <td>1063B</td>
                      <td>7.2</td>
                    </tr>
                    <tr>
                      <th scope="row">GERMANY</th>
                      <td>700B</td>
                      <td>5.8</td>
                    </tr>
                    <tr>
                      <th scope="row">INDIA</th>
                      <td>298B</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <th scope="row">UK</th>
                      <td>244B</td>
                      <td>1.8</td>
                    </tr>
                    <tr>
                      <th scope="row">FRANCE</th>
                      <td>264B</td>
                      <td>1.9</td>
                    </tr>
                    <tr>
                      <th scope="row">ITALY</th>
                      <td>276B</td>
                      <td>2.3</td>
                    </tr>
                    <tr>
                      <th scope="row">BRAZIL</th>
                      <td>146B</td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <th scope="row">RUSSIA</th>
                      <td>139B</td>
                      <td>0.7</td>
                    </tr>
                  </tbody>
                  </table></div>
            </div>
        </div>
    </section>
    <style>
        .table {
            width: 100%;
        }
    </style>
    <footer>
      <div class="footer-text" id="ftr-text">Designed with ❤️ by <span>Team Stockify</span></div>
  </footer>
</body>
</html>
